# Archivos de Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Archivos media subidos por usuarios
media/destinations/*
!media/destinations/.gitkeep
media/*
!media/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
