{% extends 'base.html' %}

{% block title %}
ReleCloud - Destinations
{% endblock %}

{% block content %}
<h1>Cruise destinations</h1>
<p>
If you can imagine it, we travel to it! Below is our list of confirmed destinations.
</p>
<ul class="list-group">
    {% for destination in destinations %}
    <a class="list-group-item list-group-item-action" href="{% url 'destination_detail' destination.id %}">
        {{ destination }}
        {% if destination.avg_rating %}
        <span class="badge bg-primary rounded-pill">{{ destination.avg_rating|floatformat:1 }}</span>
        <span class="badge bg-info rounded-pill">{{ destination.review_count }} reviews</span>
        {% else %}
        <span class="badge bg-secondary rounded-pill">Sin valoraciones</span>
        {% endif %}
    </a>
    {% endfor %}
</ul>
{% endblock content %}