{% extends 'base.html' %}
{% load static %}

{% block title %}
ReleCloud - Destinations
{% endblock %}

{% block content %}
<h1>Cruise destinations</h1>
<p>
If you can imagine it, we travel to it! Below is our list of confirmed destinations.
</p>
<ul class="list-group">
    {% for destination in destinations %}
    <a class="list-group-item list-group-item-action d-flex align-items-center" href="{% url 'destination_detail' destination.id %}">
        {% if destination.image %}
            <img src="{{ destination.image.url }}" alt="Imagen de {{ destination.name }}" class="img-thumbnail me-3" style="width: 80px; height: 80px; object-fit: cover;">
        {% else %}
            <img src="{% static 'res/img/placeholder-destination.svg' %}" alt="Imagen placeholder para {{ destination.name }}" class="img-thumbnail me-3" style="width: 80px; height: 80px; object-fit: cover;">
        {% endif %}
        <span>{{ destination }}</span>
    </a>
    {% endfor %}
</ul>
{% endblock content %}